name: Checks

on: [pull_request]
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
      - name: install modules
        run: bun install
      - name: Save dependency cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
      - name: install modules
        run: bun install
      - name: lint
        run: bun run lint
  build:
    needs: [setup, lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
      - name: build
        run: bun run build