
name: 'Prod: Manual'

on: workflow_dispatch
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
      - name: install modules
        run: bun install
      - name: Save dependency cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
  build:
    needs: [setup]
    runs-on: ubuntu-latest

    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}${{ hashFiles('./bun.lockb') }}
      - name: install dependencies
        run: bun install
      - name: build
        run: bun run build
      - name: Save dependency cache
        uses: actions/cache@v4
        with:
          path: dist
          key: ${{ runner.os }}${{ github.sha }}
  deploy:
    needs: build
    runs-on: ubuntu-latest

    environment: production
    concurrency: production

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Restore dependency cache
        uses: actions/cache/restore@v4
        with:
          path: dist
          key: ${{ runner.os }}${{ github.sha }}
      - name: Deploy
        uses: jakejarvis/s3-sync-action@master
        env:
          AWS_S3_BUCKET: ${{ vars.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: dist
  cache:
    needs: deploy
    runs-on: ubuntu-latest

    environment: production

    steps:
      - name: Invalidate cache
        uses: chetan/invalidate-cloudfront-action@master
        env:
          DISTRIBUTION: ${{ vars.CLOUD_FRONT_DISTRIBUTION }}
          PATHS: '/*'
          AWS_REGION: 'sa-east-1'
          AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}